/* Inheritance */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    
}

/* Multiple selector */
header, footer {
    background-color: gray;
    color: white;
}

/* Class selector */
.site-title {
    color: red;
}

/* ID selector */
#my-image {
    box-shadow: 0 0 2px 1px black;
}

/* Hobbies list */
ul {
    list-style-type: square;
}

/* nth-child */
li:nth-child(odd) {
    background-color: green;
}

/* Navigation */
nav a {
    text-decoration: none;
    background-color: pink;
    border: 1px solid black;
    color: black;
    padding: 5px;
}

nav a:hover,
nav a:focus {
    background-color: red;
    color: white;
}
